USE [AnnounceManagementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/2/2025 2:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 1/2/2025 2:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241230180055_init1', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([Id], [Title], [Content], [StartDate], [EndDate], [IsActive]) VALUES (5, N'Aktif Duyuru', N'Bu duyuru dün başladı ve gelecek hafta bitecek.', CAST(N'2024-12-30T20:00:00.0000000' AS DateTime2), CAST(N'2025-02-07T18:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Announcements] ([Id], [Title], [Content], [StartDate], [EndDate], [IsActive]) VALUES (6, N'Yarın Başlayacak', N'Bu duyuru yarın başlayacak ve 3 gün sürecek.', CAST(N'2025-01-01T06:00:00.0000000' AS DateTime2), CAST(N'2024-01-03T15:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Announcements] ([Id], [Title], [Content], [StartDate], [EndDate], [IsActive]) VALUES (8, N'mvc tarafindan olusturuldu', N'Mvc tarafindan olusturulan ileri tarihli anons', CAST(N'2025-01-01T17:09:00.0000000' AS DateTime2), CAST(N'2025-01-05T20:00:00.0000000' AS DateTime2), 1)
GO
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
